@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";



body{
  background-color: #F5F5F5;
  width: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  color: #000;
}


#canvas{
  background-color:white;
}


/* .buttons{
  margin-top: 400px;
  margin-left: 20px;
} */

/* #navbar{
  background-color: white;
  width: 1;
  margin-top: 0%;
  top: 0;
  left: 0;
  
  overflow-x: hidden;
  padding-top: 20px;
} */

#homebackground{
  background-color: #F5F5F5;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  padding-top: 20px;
  color: #000;

}
#menu-toggle:checked + #menu {
  display: block;
  
}

#navigation-bar{
  background-color: #FAF3F0;
  color: #f9969a;
  font-size: small;

  
}


#submenu-buttons{
  background-color: #f9969a;
  padding: 15px;
  border-radius: 25px;
  box-shadow: #ffc0c0 0px 0px 10px;
  

}

#submenu-buttons:hover{
  background-color: #efeded;
  padding: 15px;
  border-radius: 25px;
  box-shadow: #ffc0c0 0px 0px 10px;
  transform: rotate3d(1, 1, 1, 10deg);
  border: black 1px solid;
  

}

#notes-page-header{
  background: -webkit-linear-gradient(45deg, hsl(0, 0%, 100%), #f9969a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: #ff7676 1px;
  opacity: 0.4;

  
}

#notes-heading{
  -webkit-text-stroke: #ff7676 1px;
  margin-top: 30px;
  
}


#filter-buttons{
  padding: 15px;
  border-radius: 100%;
  box-shadow: #ffc0c0 0px 0px 10px;
  width: 40px;
  height:40px;
  margin-left: 30px;
  

}


#filter-band{
  background-color: #FAF3F0;
  padding: 15px;
  border-radius: 25px;
  margin-top: 30px;
  color: #000;


}
