@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";



body{
  width: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  color: #000;
}


#canvas{
  background-color:white;
}


/* .buttons{
  margin-top: 400px;
  margin-left: 20px;
} */

/* #navbar{
  background-color: white;
  width: 1;
  margin-top: 0%;
  top: 0;
  left: 0;
  
  overflow-x: hidden;
  padding-top: 20px;
} */

#homebackground{
  background-color: #F5F5F5;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  padding-top: 20px;
  color: #000;

}
#menu-toggle:checked + #menu {
  display: block;
  
}

#navigation-bar{
  background-color: #FAF3F0;
  color: #f9969a;
  font-size: small;

  
}


#submenu-buttons{
  background-color: #6E7582;
  padding: 15px;
  border-radius: 25px;
  box-shadow: #ffc0c0 0px 0px 10px;
  color: #ffc0c0;
  font-weight: 700;


  

}

#submenu-buttons:hover{
  background-color: #ffffff;
  padding: 15px;
  border-radius: 25px;
  box-shadow: #ffc0c0 0px 0px 10px;
  transform: rotate3d(1, 1, 1, 10deg);
  color: #6E7582;

  

}

#notes-page-header{
  background: -webkit-linear-gradient(45deg, hsl(0, 0%, 100%), #f9969a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: #ff7676 1px;
  opacity: 0.4;

  
}

#notes-heading{
  -webkit-text-stroke: #ff7676 1px;
  margin-top: 30px;
  color: #6E7582;
  
}


#filter-buttons{
  padding: 15px;
  border-radius: 25px;
  box-shadow: #ffc0c0 0px 0px 10px;
  width: 70px;
  height:40px;
  margin-left: 30px;
  

}


#filter-band{
  padding: 15px;
  border-radius: 25px;
  margin-top: 30px;
  color: #000;



}

#single-note-block{
 border-top: 1px solid #000000;
 border-style: dashed;
 padding:20px;
 margin: 20px;
 
}

#label-block{
  height: 10px;
  width: 20%;
  border-radius: 20px;
  

}

#delete-button{
  width: 70px;  
  border-radius: 20px;

  color: rgb(0, 0, 0);
  padding-left: 20px;
  padding: 10px;


}

#share-button{
  width: 70px;
  border-radius: 20px;
  padding: 10px;
  color: black;

}

#category-name{
  align-items: baseline;
  
}



#form-div input{

  color: black;
  height: 50px;
  text-wrap: wrap;

}


#form-div{
  background-color: #ffffff;
  box-shadow: #d4d4d4 0px 0px 6px;
  border-radius: 30px;

  
}


#form-div #desc{
  word-wrap: break-word;
  word-break: break-all;
  height: 80px;
 
}

#form-div label{
  color: black;
   margin-top: 20px;

}


#form-background{
  background-color: #F5F5F5;
  width: 100%;
  margin: 0;
  color: #000;
  padding-top: 20px;
  padding-bottom: 20px;
  background: url('/src/assets/header3.jpg');


}


#note-create-submit-button{
  background-color: #f9969a;
  padding: 15px;
  border-radius: 25px;
  box-shadow: #ffc0c0 0px 0px 10px;
  justify-content: center;
  align-items: center;
  width: 300px;

}

#task-form{
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 50px;
  background: url('/src/assets/header1.png');


  

}


#task-form input {
  color: black;
  font-size: large;
  height: 50px;
  text-wrap: wrap;
  border: #ababab 1px solid;
  width: 100%;
  padding: 4px;
  box-shadow: #f9969a 0px 0px 10px;
  background: #ffffff;

}

#task-form label {
 color: rgb(255, 148, 148);
 margin-top: 20px;
 font-weight: bold;
 font-size: large;


}


#tasks-list{
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  
}

#edit-task-button{

  margin-right: 30px;
  margin-top: -20px;
  width: 50px;
  padding-left: 100px;



}

#delete-task-button{
  margin-right: 30px;
  margin-top: 20px;
  width: 50px;
  padding-left: 100px;
  margin-bottom: 10%;

}

#take-photo-button{
  margin-left: 30px;
  width: 200px;
  padding: 30px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 4px;
  color: black;
  font-size: larger;
  border-radius: 70px;
  height: 50px;
  background-color: #ff7676;


}

#open-create-task-form{
  align-items: baseline;
  
}





#single-task{
 border-bottom: #000000 1px solid;
 border-style: dashed;
 align-items: baseline;
}

#add-task-button{
  background-color: #ff7676;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-top: 45px;
}


#edit-task-form{
  background-color: #ffffff;
  padding: 20px;
  
  

}

#edit-task-form input{
  color: black;
  font-size: large;
  height: 50px;
  text-wrap: wrap;
  border: #ababab 1px solid;
  margin-left: 30px ;
  padding: 4px;
  box-shadow: #f9969a 0px 0px 10px;
  background: #ffffff;
  margin-bottom: 10px;
  
}


#edit-task{
  width: 400px;
  height: 200px;
}





@media screen and ( max-width: 600px) {
  #edit-task-form{
    margin-left: -160px;
    display: flex;
    flex-direction: column;
  }
}
  


#update-task-button{
  background-color: #f9969a;
  padding: 15px;
  border-radius: 25px;
  box-shadow: #ffc0c0 0px 0px 10px;
  justify-content: center;
  align-items: center;
  width: 75px;
}



#profile-image{
  border-radius: 100%;
  height: 200px;
  width: 200px;

}


#profile-photo-button{
  background-color: #ff7676;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-top: -100px;
  margin-left: 30px;
  margin-bottom: 20px;
}


#image-container{
  margin-left: 30px;
  margin-top: 30px;
}

#Zoom-image:hover{
  transform: scale(1.5);
  transition: transform 0.5s ease;
  margin-left: 20%;
}
  
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
